*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #dad7cd;
    min-height: 100vh;
    border: 10px solid #3a5a40;
}

.content{
    max-width: 900px;
    margin: 0 auto;
}

.top_section{
   display: flex;
   justify-content: space-between;
   margin-top: 100px;
   align-items: flex-end;
}

.top_section img{
    max-height: 320px;
    max-width: 300px;
    border: 1px solid #3a5a40;
    border-radius: 70px;  
}

.top_section h1{
    font-size: 40px;
    margin-top: 190px;
    font-weight: bold;
    text-transform: uppercase;

}

.top_section p{
    font-size: 30px;
    font-weight: 400;
    text-align: end;
}

.middle_section h2{
    line-height: 100px;
    font-size: 55px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-decoration: underline 3px;

}

.about_section p{
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: justify;
}

.biog_section h3{
    margin: 20px 0 20px 0;
    font-size: 40px;
}

.biog_section a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 30px;
    
}
.biog_section ul {
    margin-left: 50px;
}

.footer p {
    text-align: end;
    margin: 150px 0 80px 0;
    font-size: 1.3rem;
}

.footer a{
    text-decoration: none;
    margin-left: 5px;
}
.footer a:hover{
    text-decoration: underline;   
}

.biog_section a:hover{
    text-decoration: underline;
}

.footer h4{
    text-align: center;
    font-size: 20px;
}

